@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<div class="jumbotron">
    <h1>اتوماسیون مطب</h1>
    <p class="lead">به سیستم اتوماسیون مطب خوش آمدید</p>
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2>ثبت نام</h2>
    </div>
    <div class="col-md-4">
        <h2>رزرو وقت</h2>
    </div>
    <div class="col-md-4">
        <h2>دریافت نتایج</h2>
    </div>
</div>