
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <form method="post">
            <input type="text" name="name" placeholder="Name" />
            <input type="text" name="family" placeholder="Family" />
            <input type="number" name="age" placeholder="Age" />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
